%top-icon {
  display: block;
  height: $site-header-height;
  line-height: $site-header-height;
}

.site-buttons {
  @extend %flex-center-nowrap;
  padding-right: 2em;

  & > div {
    position: relative;
  }

  .link {
    @extend %top-icon;

    /* we don't want a lighter dark font in the top gradient */
    @if $theme == "transp" {
      @extend %page-text;
    }
    @else {
      color: $c-font;
    }

    font-size: 1.1rem;
    padding: 0 .7rem;

    &:hover {
      color: $c-font-clearer;
    }

    span::before {
      vertical-align: middle;
    }
  }

  .toggle {
    @extend %top-icon;
  }

  .initiating {
    @extend %flex-center;

    justify-content: center;
    height: 300px;
    width: 225px;
  }

  .dropdown {
    @extend %dropdown-shadow;

    display: none;
    position: absolute;
    right: 0;
    top: var(--dropdown-top);
    background: $c-bg-header-dropdown;
    z-index: z("dropdown");

    a,
    button {
      color: $c-header-dropdown;
    }

    &:before {
      position: absolute;
      top: -7px;
      right: 15px;
      display: inline-block;
      border-right: 7px solid transparent;
      border-bottom: 7px solid #ccc;
      border-left: 7px solid transparent;
      border-bottom-color: rgba(0, 0, 0, 0.2);
      content: '';
    }

    &:after {
      position: absolute;
      top: -6px;
      right: 16px;
      display: inline-block;
      border-right: 6px solid transparent;
      border-bottom: 6px solid #ffffff;
      border-left: 6px solid transparent;
      content: '';
    }
  }

  .shown {
    .toggle {
      background: $c-bg-header-dropdown;
      color: $c-header-dropdown;
    }

    .dropdown {
      display: block;
    }
  }

  .signin {
    margin: 0 1rem;

    @if $theme == "transp" {
      &.button-empty {
        @extend %metal;

        color: $c-font-clear;
      }
    }
  }

  .link-center {
    margin-top: 5px;
    height: inherit;
    line-height: inherit;
  }

  .user-menu {
    display: flex;
    align-items: center;
    margin-left: 16px;

    img {
      width: 32px;
      height: 32px;
      border-radius: 16px;
    }
  }
}

#user_tag {
  padding-right: 1rem;
  white-space: nowrap;
}

#notify-app .initiating {
  width: 25rem;
}
