@import 'topnav-hidden';
@import 'topnav-visible';
@import 'title';
@import 'buttons';

body > header {
  @include prevent-select;
  height: $site-header-height;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: $z-site-header-106;
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 var(---site-header-sticky-padding) 0 0;
  background-color: var(--c-bg-box);

  .toggle-sidebar {
    padding: 8px 16px;
    color: var(--c-font);
    &:hover {
      color: var(--c-font-clearer);
    }
  }

  @include mq-sticky-header {
    max-width: unset;
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: 1px solid transparent;
    transition:
      transform $transition-duration ease-in-out,
      border-color $transition-duration ease-in-out;

    &.scrolled {
      background-image: linear-gradient(to bottom, $c-body-gradient, $m-body-gradient_bg-page--mix-50 60px);
      border-color: black;
      @include if-light {
        border-color: hsl(0, 0%, 70%);
      }
    }

    @include if-transp {
      @include back-blur(6px);
      border: none;
      background: hsla(0, 0, 60%, 0.14);
    }

    .dropdown {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
      transition:
        opacity $transition-duration,
        visibility 0s linear 0s;
    }

    &.hide {
      transform: translateY(-100%);

      #topnav,
      .dropdown {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition:
          opacity $transition-duration,
          visibility 0s linear $transition-duration;
      }
    }
  }
}

body.zen {
  @include topnav-unsticky;
  header::before {
    display: none;
  }
}

#topnav .community-patron {
  @extend %flex-center;
  &::after {
    @extend %data-icon;
    font-family: 'cochess';
    content: $licon-Wings;
    font-size: 1.3em;
    color: $c-brag;
    @include margin-direction(0, 0, 0.08ch, 0.3ch);
    transform: scaleX(-1);
    @include if-rtl {
      transform: none;
    }
  }
}

.site-title-nav {
  display: none;
  justify-content: center;

  @media (min-width: at-least($medium)) {
    justify-content: flex-start;
    display: flex;
    align-items: center;
    flex-grow: 1;
  }

  .brand {
    display: inline-block;
    vertical-align: middle;
    width: 229px;
    position: relative;
    text-align: right;
    padding-right: 1rem;

    @media (min-width: at-least($medium)) {
      position: relative;
    }

    @media (max-width: at-most($medium)) {
      width: auto;
    }

    img {
      vertical-align: middle;
      width: 180px;
      height: 44px;
    }
  }
}
