$zIndex-navbar: 800;
$zIndex-sidebar: 1000;

$menu-bezier: .05, .74, .27, .99;
$menu-icon-size: 40px;

$base-font-family: "Inter UI", -apple-system, BlinkMacSystemFont,  "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell","Fira Sans", "Droid Sans", "Helvetica Neue",sans-serif;
$interface-font-family: "Inter UI", -apple-system, BlinkMacSystemFont,  "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell","Fira Sans", "Droid Sans", "Helvetica Neue",sans-serif;

.page-sidebar {
    width: $layout-sidepanel-width;
    background-color: $color-menu;
    z-index: $zIndex-sidebar;
    position: fixed;
    top: 0;
    left: $layout-sidepanel-width-collapsed - $layout-sidepanel-width;
    bottom: 0;
    right: auto;
    overflow: hidden;
    -webkit-transition: -webkit-transform 400ms cubic-bezier($menu-bezier);
    -moz-transition: -moz-transform 400ms cubic-bezier($menu-bezier);
    -o-transition: -o-transform 400ms cubic-bezier($menu-bezier);
    transition: transform 400ms cubic-bezier($menu-bezier);
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;

    a,
    button {
        color: $color-menu-light;
        &:hover,
        &:active {
            color: $color-menu-link-hover;
            background-color: transparent !important;
            &:focus {
                color: $color-menu-link-hover;
            }
        }

        &:visited,
        &:focus {
            color: $color-menu-light;
        }
    }

    button.sidebar-slide-toggle {
        &.active {
            color: $color-menu-light;
            &:focus {
                background: transparent;
            }
        }
    }

    .scroll-element {
        visibility: hidden;
    }
    
    .sidebar-header {
        /* Side-bar header */
        display: block;
        height: $site-header-height;
        line-height: $site-header-height;
        background-color: $color-menu-darker;
        border-bottom: 1px solid mix($color-menu-darker, #000, 90%);
        color: $color-contrast-lowest;
        width: 100%;
        padding: 0;
        padding-left: 30px;
        clear: both;
        z-index: 10;
        position: relative;
        user-select: none;

        img {
            vertical-align: middle;

            &.brand {
                width: 127px;
                height: 24px;
            }
        }

        .sidebar-header-controls {
            display: none;
            -webkit-transition: -webkit-transform 400ms cubic-bezier($menu-bezier);
            transition: transform 400ms cubic-bezier($menu-bezier);
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;

            @include breakpoint($mq-medium) {
                display: inline-block;
            }

            button {
                display: inline-block;
                margin: 0;
                padding: 0;
                font-size: 1em;
                background-color: transparent;
                border: none;
                font-weight: normal;
                letter-spacing: 0.01em;
                -webkit-font-smoothing: antialiased;
                -webkit-text-size-adjust: 100%;
                -ms-text-size-adjust: 100%;
                -webkit-font-feature-settings: "kern" 1;
                -moz-font-feature-settings: "kern" 1;
    
                text-align: center;
                vertical-align: middle;
                cursor: pointer;
                color: #929aac;
                text-shadow: none;
                box-shadow: none;
                line-height: 21px;
                position: relative;        
                text-decoration: none;

                &:focus {
                    outline: none !important;
                    outline-style: none;
                }

                i {
                    width: 18px;
                    height: 18px;
                    margin: 0;
                }

                &.sidebar-slide-toggle {
                    margin-left: 15px;
                    margin-right: 5px;
                    visibility: hidden;
                    i {
                        transition: all 0.12s ease;
                    }
        
                    &:active {
                        i {
                            transform: rotate(-180deg);
                        }
                    }
                }
            }
        }
    }

    .close-sidebar {
        position: absolute;
        right: 19px;
        top: 14px;
        padding: 9px;
        z-index: 1;
        & > i {
            color: rgba(255, 255, 255, 0.57);
        }
    }

    .sidebar-overlay-slide{
        width: 100%;
        height: 100%;
        background-color: $color-menu-darker;
        display: block;
        z-index: 9;
        padding: $site-header-height + 20 20px 20px 20px;
        &.from-top {
            top: -100%;
            position: absolute;
            transition: all 0.2s ease;
            &.show {
                transform: translate(0, 100%);
            }
        }
    }

    .sidebar-menu {
        /* Side-bar Menu */
        height: calc(100% - 50px);
        position: relative;
        width: 100%;
        .outer-tab-nav-section {
            display: inline-block;
            width: 45px;
            position: absolute;
            height: 100%;
            background-color: #0aa699 !important;
        }

        .menu-items {
            /* Side-bar Menut Items */
            list-style: none;
            margin: 0;
            padding: 0;
            margin: 0;
            padding: 0;
            position: relative;
            overflow: auto;
            -webkit-overflow-scrolling: touch;
            height: calc(100% - 10px);
            width: 100%;
            li {
                &:first-child {
                    margin-top: 20px;
                }

                &:hover,
                &.open,
                &.active {
                    & > .icon-thumbnail {
                        color: $color-menu-link-hover;
                    }
                    & > a {
                        color: $color-menu-link-hover;
                    }
                }
            
                & > a {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    width: 70%;
                }
            }
          
            & > li {
                display: block;
                padding: 0;
                clear: right;
                &:after,
                &:before {
                    display: table;
                    content: " ";
                    clear: both;
                }
    
                & > a {
                    font-family: $interface-font-family, sans-serif;
                    display: inline-block;
                    padding-left: 32px;
                    min-height: $menu-icon-size;
                    line-height: $menu-icon-size;
                    font-size: 14px;
                    clear: both;
                    &.open {
                        background: #313131;
                    }

                    & > .arrow {
                        float: right;
                        padding-right: 15px;

                        &:before {
                            display: inline;
                            float: right;
                            font-size: 16px;
                            font-family: "lichess";
                            height: auto;
                            speak: none;
                            content: "Ğ“";
                            font-weight: 300;
                            text-shadow: none;
                            transition: all 0.12s ease;
                        }

                        &.open {
                            &:before {
                                transform: rotate(-90deg);
                            }
                        }
                    }
              
                    & > .badge {
                        margin-top: 12px;
                    }
              
                    & > .title {
                        float: left;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        width: 75%;
                    }

                    & > .details {
                        font-size: 12px;
                        opacity: 0.4;
                        display: block;
                        clear: both;
                    }

                    &.detailed {
                        & > .title {
                            line-height: 28px;
                        }
                        
                        & > .details {
                            line-height: 16px;
                        }
                    }
                }
            
                &.active {
                    & > ul {
                        &.sub-menu {
                            display: block;
                        }
                    }
                }

                & > .icon-thumbnail {
                    &:first-letter {
                        text-transform: uppercase;
                    }
                }

                & > ul {
                    &.sub-menu {
                        & > li {
                            ul {
                                &.sub-menu {
                                    li {
                                        padding-left: 10px;
                                        padding-right: 3px;
                                    }
                            
                                    .icon-thumbnail {
                                        width: 25px;
                                        height: 25px;
                                        line-height: 25px;
                                        font-size: 10px;
                                    }
                                }
                            }
                        }
                
                        li {
                            & > a {
                                & > .arrow {
                                    &:before {
                                        float: right;
                                        margin-top: 1px;
                                        margin-right: 20px;
                                        display: inline;
                                        font-size: 16px;
                                        font-family: "lichess";
                                        content: "Ğ“";
                                        speak: none;
                                        font-weight: 300;
                                        text-shadow: none;
                                        transition: all 0.12s ease;
                                    }
                                    
                                    &.open {
                                        &:before {
                                            float: right;
                                            margin-top: 1px;
                                            margin-right: 18px;
                                            display: inline;
                                            font-size: 16px;
                                            transform: rotate(-90deg);
                                            font-weight: 300;
                                            text-shadow: none;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                ul {
                    &.sub-menu {
                        display: none;
                        list-style: none;
                        clear: both;
                        margin: 0 0 10px 0;
                        background-color: $color-menu-dark;
                        padding: 18px 0 10px 0;
                        & > li {
                            background: none;
                            padding: 0 20px 0 40px;
                            margin-top: 1px;
                            &:hover {
                                & > .icon-thumbnail {
                                    color: $color-menu-link-hover;
                                }
                            }
                  
                            & > a {
                                display: inline-block;
                                padding: 5px 0px;
                                font-size: 13px;
                                font-family: $interface-font-family, sans-serif;
                                white-space: normal;
                            }
                  
                            .icon-thumbnail {
                                width: 30px;
                                height: 30px;
                                line-height: 30px;
                                margin: 0;
                                background-color: $color-menu;
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }

        .muted {
            color: $color-hinted-a;
        }
    }

    .icon-thumbnail {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background: transparent;
        height: $menu-icon-size;
        width: $menu-icon-size;
        line-height: $menu-icon-size;
        text-align: center;
        vertical-align: middle;
        position: relative;
        left: 0;
        float: right;
        margin-right: 14px;
        color: $color-menu-light;
        -webkit-transition: -webkit-transform 400ms cubic-bezier($menu-bezier);
        transition: transform 400ms cubic-bezier($menu-bezier);
        -webkit-backface-visibility: hidden;
        -webkit-perspective: 1000;
        font-family: $base-font-family;
        -webkit-font-smoothing: antialiased;
        -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
        font-weight: bold;

        & > i {
            font-size: 20px;
        }

        & > svg {
            width: auto;
            height: auto;
            display: inline;
        }
    }
}


@include breakpoint($mq-medium) {
    body {
        &.menu-pin {
            #main-wrap {
                padding-left: $layout-sidepanel-pin-width;
            }

            #reconnecting {
                left: $layout-sidepanel-pin-width !important;
            }

            [data-toggle-pin="sidebar"] {
                & > i:before {
                    content: attr(data-icon-alt);
                }
            }

            .page-sidebar {
                transform: translate($layout-sidepanel-width - $layout-sidepanel-width-collapsed, 0) !important;
                -webkit-transform: translate($layout-sidepanel-width - $layout-sidepanel-width-collapsed, 0) !important;
                -ms-transform: translate($layout-sidepanel-width - $layout-sidepanel-width-collapsed, 0) !important;
          
                width: $layout-sidepanel-pin-width;
            
                .menu-items .icon-thumbnail {
                    transform: translate3d(-14px, 0, 0);
                    -ms-transform: translate(-14px, 0);
                }
            }

            .site-title-nav {
                .brand {
                    display: none;
                }
            }
        }
    }

    #main-wrap {
        padding-left: $layout-sidepanel-width-collapsed;
    }
    

    #reconnecting {
        left: $layout-sidepanel-width-collapsed !important;
    }
}

@include breakpoint($mq-not-medium) {
    body {
        &.sidebar-open {
            #main-wrap {
                transform: translate3d($layout-sidepanel-pin-width, 0, 0);
                overflow: hidden;
                position: fixed;
            }
        }
    }

    #main-wrap {
        transition: transform .25s ease;
        -webkit-transition: -webkit-transform .25s ease;
    }

    .page-sidebar {
        display: none;
        z-index: auto;

        width: $layout-sidepanel-pin-width;
        z-index: auto;
        left: 0 !important;
        -webkit-transform: translate3d(0, 0px, 0px) !important;
        transform: translate3d(0, 0px, 0px) !important;

        &.visible {
            display: block;
        }

        .sidebar-menu .menu-items > li ul.sub-menu > li {
            padding: 0px 30px 0 36px;
        }
    }
  
    .icon-thumbnail {
        margin-right: 24px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .page-sidebar .sidebar-menu .menu-items ul {
        -webkit-transform: translateZ(0);
        -webkit-backface-visibility: hidden;
        -webkit-perspective: 1000;
    }
}
  
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    .page-sidebar .sidebar-menu .menu-items > li {
        & > a {
            padding-left: 27px;
        }

        ul.sub-menu > li {
            padding: 0px 27px 0 31px;
        }
    }
}
  
@media (max-width: 991px) {
    .sidebar-menu {
        .icon-thumbnail {
            margin-right: 15px;
        }
    }
}
  
@media (max-width: 767px) {
    .page-sidebar {
        .sidebar-header {
            padding: 0 12px;
        }

        .sidebar-menu .menu-items > li {
            & > a {
                padding-left: 20px;
            }
        
            ul.sub-menu > li {
                padding: 0px 25px 0 28px;
            }
        }
    }
}
  
@media (max-width: 480px) {
    .page-sidebar .sidebar-header {
        height: $site-header-height;
        line-height: $site-header-height;
    }
}