.visible-xlg { display: none; }
.visible-xl { display: none; }
.visible-lg { display: none; }
.visible-md { display: none; }
.visible-sm { display: none; }
.visible-xs { display: none; }

/*** Extra Extra Large screens ***/
@media (min-width: 1824px) {
    .visible-xlg { display: block !important; }
}

/*** Extra Large screens ***/
@media (min-width: 1200px) and (max-width: 1823px) {
    .visible-xl { display: block !important; }
}

/*** Large screens ***/
@media (min-width: 992px) and (min-width: 1199px) {
    .visible-lg { display: block !important; }
}

/*** Medium devices ***/
@media (min-width: 768px) and (max-width: 991px) {
    .visible-md { display: block !important; }
}

/*** Small devices ***/
@media (min-width: 576px) and (max-width: 767px) {
    .visible-sm { display: block !important; }
}

/*** Small devices ***/
@media (max-width: 575px) {
    .visible-xs { display: block !important; }
}
