.visible-xlg-only { display: none; }
.visible-xl-only { display: none; }
.visible-lg-only { display: none; }
.visible-md-only { display: none; }
.visible-sm-only { display: none; }
.visible-xs-only { display: none; }

.visible {
    display: block !important;
}

/*** Extra Extra Large screens ***/
@include breakpoint($mq-xx-large) {
    .visible-xlg-only { display: block !important; }
}

/*** Extra Large screens ***/
@include breakpoint($mq-x-large $mq-not-xx-large) {
    .visible-xl-only { display: block !important; }
}

/*** Large screens ***/
@include breakpoint($mq-large $mq-not-x-large) {
    .visible-lg-only { display: block !important; }
}

/*** Medium devices ***/
@include breakpoint($mq-medium $mq-not-large) {
    .visible-md-only { display: block !important; }
}

/*** Small devices ***/
@include breakpoint($mq-xx-small $mq-not-medium) {
    .visible-sm-only { display: block !important; }
}

/*** Extra Small devices ***/
@include breakpoint($mq-not-xx-small) {
    .visible-xs-only { display: block !important; }
}
